html {
    scroll-behavior: smooth;
}
nav ul li a {
    text-decoration: none;
    color:beige;
    font-size: larger;
    font-weight: bold;
}
nav ul {
    list-style-type:none;
}
nav {
    position: fixed;
    left: 0;
    right: 0;
    width: 150px;
    height: 100%;
    background-color:rgb(226, 10, 10);
    border-style:solid;
    border-color:beige;
    padding-top: 30px;
}
.sec {
    height: 100vh;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
#section-1 {
    background: linear-gradient(135deg ,yellow 50% , white 50% );
}
#section-2 {
    background: linear-gradient(135deg ,blue 50% , white 50% );
}
#section-3 {
    background: linear-gradient(135deg ,green 50% , white 50% );
}
#section-4 {
    background: linear-gradient(135deg ,purple 50% , white 50% );
}
#section-5 {
    background: linear-gradient(135deg ,pink 50% , white 50% );
}